.Home {
	display: flex;
	flex-direction: column;
	background-color: #808080;
	padding: 0.5rem;
	color: black;
	justify-content: center;
	align-items: center;
}

.SearchWrapper {
	width: 450px;
	background-color: white;
	padding: 0.7rem;
	border-radius: 0.5rem;
	color: black;
	/* margin-left: 3rem; */
}

.SearchContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.SearchIcon {
	color: #ff5100;
}

.Search {
	display: flex;
	width: 100%;
	padding: 0.5rem;
	align-items: center;
}

.SearchSuggestedList {
	list-style-type: none;
	max-height: 300px;
	overflow-y: scroll;
}

.SearchSuggestion {
	padding: 0.5rem;
}

ul li {
	border-top: 1px solid #e0dfe1;
	margin-right: 0.7rem;
}

.WelcomeText {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-left: -1rem;
}

.WelcomeText h2 {
	font-weight: 500;
	text-align: center;
}

@media (max-width: 500px) {
	.SearchWrapper {
		width: 320px;
	}
}
